    body {
        background-color: black;
    }
    .estilo1 {
			/* height: 100px; */
            color: red;
    }
		.estilo2 {
			
            color: red;
		} 
        section p{
            color: rgb(5, 152, 220)
        }
      